<ui:composition 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid 
		id="grid" 
		columns="2" 
		style="width:100%;">

		<h:outputLabel 
			styleClass="" 
			style="" 
			id="nameLbl" 
			value="name"
			for="nameIn" 
			rendered="true" />

		<p:inputText 
			styleClass="" 
			style="" 
			id="nameIn" 
			widgetVar="nameIn"
			value="#{dummyBean.selected.name}" 
			maxlength="100" 
			required="true"
			disabled="false" 
			rendered="true" />

		<h:outputLabel 
			styleClass="" 
			style="" 
			id="vornameLbl" 
			value="vorname"
			for="vornameIn" 
			rendered="true" />

		<p:inputText 
			styleClass="" 
			style="" 
			id="vornameIn"
			widgetVar="vornameIn" 
			value="#{dummyBean.selected.vorname}"
			maxlength="100" 
			required="true" 
			disabled="false" 
			rendered="true" />

	</p:panelGrid>

</ui:composition>
