<?xml version='1.0' encoding='UTF-8'?>
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:p="http://primefaces.org/ui">
	
	<p:panelGrid 
		id="grid" 
		columns="2" 
		style="width:100%;">
		
		<h:outputLabel 
			id="nameLbl" 
			value="name" 
			for="name"/>
		
		<p:inputText 
			id="nameIn" 
			value="#{dummyBean.selected.name}" 
			required="true" 
			disabled="false"/>

		<h:outputLabel 
			id="vornameLbl" 
			value="vorname" 
			for="vorname"/>
		
		<p:inputText 
			id="vornameIn" 
			value="#{dummyBean.selected.vorname}" 
			required="true" 
			disabled="false"/>
			
	</p:panelGrid>
</ui:composition>
